*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#userForm{
   
    height: 300px;
  /* border-bottom: 1px solid black; */
  border: 1px solid gray;
  width: 50%;
  margin: auto;
  
  padding: 40px 40px;
  
}
input{
    padding: 10px 5px;
    border-radius: 8px;
    margin: 10px 5px;
    flex-direction: column;
   
    margin: 0px 5px;
    border: 1px solid gray;
}
label{
    font-size: 1.5rem;
}
#exp-sub{
    padding: 9px 15px;
    background-color: gray;
    border: none;
    color: #ffffff;
    border-radius: 4px;
   
}
table {
      width: 50%;
      border-collapse: collapse;
      background: white;
      margin: auto;
      position: relative;
    }
    th, td {
      border: 1px solid #ccc;
      padding: 6px;
      text-align: center;
      text-transform: capitalize;
    }
    th {
      background: #eee;
    }
    button {
      padding: 5px 12px;
      margin: 4px;
    
    border: none;
      border-radius: 5px;
      cursor: pointer;

    }
    .deleBt{
      background-color: gray;
      color: white;
    }
    /* .expensive{
      position: absolute; margin-left: 25%; background-color: gray;
    padding: 7px; color: rgb(243, 227, 227); text-transform: capitalize; width: 50%;
    } */
@media only screen and (min-width:350px)and (max-width:500px){
#userForm{
    width: 100%;
}
table{
    width: 100%;


  }
  /* .expensive{
    width: 100%;
    margin-left: 0%;
  } */
}